<suite name="Suite" parallel="none" thread-count="2">
    <test name="Test">
        <classes>
            <class name="smoke.AddMattressToCart_GeneralValidationTest"/>
            <class name="smoke.AddMonitorToCart_GeneralValidationTest"/>
            <class name="smoke.AddMattressToCart_FullTest"/>
            <class name="smoke.KosSmoke_GeneralValidationTest"/>
        </classes>
    </test> <!-- test -->
</suite> <!-- suite -->